//COLORS
$color-primary-1: #ff9a76;
$color-primary-2: #ffeadb;
$color-primary-3: #679b9b;
$color-primary-4: #637373;
$color-primary-5: #e7a142;
$color-primary-6: #fff;
$color-primary-7: #000;
$color-primary-8: #81b6b0;

$color-grey-1: #777;
$color-grey-2: #555;

$color-pink-1: #ebd4d4;
$color-pink-2: #fff0f0;

// CONTAINERS

// FONTS
$font-primary-1: #988f86;
$font-primary-2: #835858;
$font-size-sm: 1rem;
$font-size-med: 1.4rem;
$font-size-lg: 2.4rem;
