.about {
  display: flex;
  justify-content: center;
  flex-direction: column;

  margin: 1rem;

  &__title {
    @include title;
  }
  &__text {
    font-size: 0.8rem;
    font-weight: 300;

    margin: 0.2rem 0;
  }
}
