.contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1.6rem 1rem 1rem 1rem;
  margin-top: 0rem;
  background-color: $color-primary-8;
  color: $color-pink-2;

  &__title {
    @include title;
  }

  &__text {
    padding: 8px 0;
    font-size: $font-size-sm;
  }

  &__greeting {
    color: $color-primary-4;
    text-transform: uppercase;
    font-size: $font-size-med;
    font-weight: 600;
  }

  &__message {
    font-size: $font-size-sm;
    line-height: 1.6;
    color: $color-pink-2;
    padding-bottom: 1rem;
  }

  &__form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 1rem 1rem 2rem 1rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 2.3px solid #fff;

    &--label {
      margin: 1.4rem 0.6rem;
      color: #fff0f0;
      font-size: 1rem;
    }

    &--input {
      width: 94%;
      height: 2rem;
      margin: 0.3rem 0.5rem;
    }

    &--textarea {
      height: 6rem;
      resize: none;
    }

    &--submit {
      margin-left: 0.6rem;
    }
  }

  &__field {
    padding: 1rem;
  }
}
