.logo {
  height: 3.25rem;
}

.header {
  height: 95vh;
  background-image: url(../img/header1.jpg);
  background-size: cover;
  background-position: top;
}

.nav {
  font-size: 0.8rem;
  font-weight: 200;
  background-color: #637373;
  color: #fff;
  text-transform: uppercase;
  padding: 9px;

  display: flex;
  justify-content: center;

  & > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
  }

  & > *:hover {
    background-color: var($color-primary-1);
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    list-style: none;

    &--list {
      padding: 5px 0;
      &-2 {
        flex: 1;
      }
    }
  }
}
