// HEADER IMAGE & TEXT!!!!!!!!!!!!!!!!!!!!!!!!!!!
.header {
  &__container {
    max-height: 100%;
    clip-path: polygon(0 0, 164% 0, 66% 418%, 0 397%);

    &--img-1 {
      width: 100%;
      position: relative;
    }

    &--img-2 {
      display: flex;
      align-content: flex-end;
      margin: 4px 0;
      width: 35%;
      height: auto;

      position: absolute;
      top: 7rem;
      right: 1rem;
      transform: translate(-6%, -8%);

      border-radius: 50%;
      border: 2.5px solid $color-primary-6;
      box-shadow: 0 8px 1rem rgba(0, 0, 0, 0.2),
        0 6px 1.25rem 0 rgba(0, 0, 0, 0.19);
    }

    &--name {
      color: $color-primary-6;
      font-size: 1.7rem;

      position: absolute;
      top: 14rem;
      right: 1rem;
    }

    &--text {
      margin-top: 10px;
      width: 84%;
      font-size: 13px;
      font-weight: 500;
      text-align: right;
      color: $color-grey-2;

      position: absolute;
      top: 16rem;
      right: 1rem;
    }
  }
}

// NAVBAR!!!!!!!!!!!!!!!!!!!!!!!!!!!
// .nav {
//   font-size: 0.8rem;
//   font-weight: 200;
//   background-color: #637373;
//   color: #fff;
//   text-transform: uppercase;
//   padding: 9px;

//   display: flex;
//   justify-content: center;

//   & > * {
//     padding: 0 2rem;
//     cursor: pointer;
//     height: 100%;
//     display: flex;
//     align-items: center;
//   }

//   & > *:hover {
//     background-color: var($color-primary-1);
//   }

//   &__container {
//     display: flex;
//     flex-direction: column;
//     align-items: center;

//     list-style: none;

//     &--list {
//       padding: 5px 0;
//       &-2 {
//         flex: 1;
//       }
//     }
//   }
// }
