.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 2rem 2rem;
  background-color: $color-primary-6;

  clip-path: polygon(0 0, 100% 1%, 100% 100%, 0 100%);

  &__title {
    @include title;

    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }

  &__link {
    margin-top: 12px;
    margin-bottom: 6px;
    font-size: $font-size-med;
    font-weight: 500;
    color: $font-primary-1;
    text-decoration: none;
    transition: 0.5s;

    &:hover {
      background-color: $color-primary-5;
      color: $color-grey-2;
    }
  }

  &__lang {
    margin: 7px 0 14px 0;
    font-size: $font-size-sm;
  }

  &__border {
    margin-top: 1.7rem;
    border-top: 1px dotted $color-primary-7;
    padding-top: 1.5rem;
  }

  &__img {
    opacity: 0;
    transform: translateY(20px);
    transition: 0.5s all ease-in-out;

    box-shadow: 0 8px 1rem rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  &__description {
    margin: 1rem 0;
    font-size: $font-size-sm;
    font-weight: 300;
    line-height: 1.5rem;
  }

  &__visual {
    box-shadow: 0 8px 1rem rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

.img--appear {
  opacity: 1;
  transform: translateY(0);
}
