.text--pink {
  text-decoration: none;
  color: $color-pink-1;
  font-weight: 400;

  &:hover {
    color: $color-grey-2;
    background-color: $color-pink-1;
  }
}

.link--cert {
  text-decoration: none;
  color: $color-primary-4;

  &:hover {
    color: $color-grey-2;
    background-color: $color-pink-1;
  }
}

.btn {
  display: inline-block;
  margin: 1rem 0 1.3rem 0;
  width: 30%;
  padding: 9px 6px;

  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
  background-color: $color-grey-2;
  color: $color-primary-6;
  cursor: pointer;

  border-radius: 8px;
  border: 2px solid $color-grey-2;
  box-shadow: 0 8px 1rem rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.5s;

  &:hover {
    background-color: $font-primary-2;
    color: $color-pink-2;
    border: 2px solid $font-primary-2;
  }

  &--grey {
    text-decoration: none;
    color: $color-primary-6;
  }
}

.btn--pink {
  margin-top: 1rem;
  font-size: 0.7rem;
  text-transform: uppercase;
  text-decoration: underline;
  border: none;
  background-color: $color-pink-1;
  transition: 0.5s;

  &:hover {
    color: $color-primary-4;
    font-size: 0.9rem;
  }
}
