* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4;
  background-color: $color-primary-5;
  color: $color-primary-7;
}

main {
  margin-top: 24rem;
}

img {
  width: 100%;
}

::selection {
  background-color: $color-pink-1;
  color: $color-grey-2;
}
